#quadro { 
    border-color: black;
    border-style: solid;
margin-top: 10px; 
}

#flex { 
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.starting { 
    margin: 20px;
}

.como-jogar { 
    display: flex;
    
    
    
}
.como-jogar img{
    
    width: 1200px;
    height: auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
}

.hr3 {
    border: 0;
    height: 7px;
    background-image: linear-gradient(to right, transparent, #343a40, transparent);  
  }

  /*   PAGE Sobre */
  
  #part1 { 
    display: flex;
    justify-content: center;
    margin-left: 190px;
    margin-right: 190px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    border-color: transparent;
    
  }

  #part1 img { 
    width: 500px;
    height: auto;
    margin: 0px, 10px, 

  }
  #part2 { 
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    border-color: transparent;

  }